<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerPlay Assistant - Conflict Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="https://data.niceygy.net/script.js" data-website-id="5a305d97-fef0-4c86-9528-243ae53470ad"></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <meta name='description' content='PowerPlay Assistant is a compainon website for Elite: Dangerous, to help commanders with their powerplay 2.0 tasks.'>
    <script defer>
        async function searchSystems() {
            let elementID = "system";
            const query = document.getElementById(elementID).value;
            const response = await fetch(`/search_systems?query=${query}`);
            const results = await response.json();
            const datalist = document.getElementById(elementID + '-results');
            datalist.innerHTML = '';
            results.forEach(system => {
                const option = document.createElement('option');
                option.value = system;
                datalist.appendChild(option);
            });
        }
        function toggleLoadingBtn() {
            var x = document.getElementById("loadingIcon");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        
        window.onload = function() {  
            document.getElementById("loadingIcon").style.display = "none";
        }
    </script>
<body>
    <h1>PowerPlay Assistant</h1>
    <div class="welcomeMessage" style="text-align: right;">
        <p>{{ welcome_message }}</p>
        <a href="{{welcome_button_link}}">{{welcome_button_message}}</a>
        <br />
    </div>
    <div class="specifyTask">
    <h2>Search Conflicts</h2>
    <form action="conflict/result" method="post">
        <label for="system">Near system:</label>
        <input list="system-results" id="system" name="system" oninput="searchSystems()" autocomplete="off" value="{{ default_system }}">
        <datalist id="system-results"></datalist><br><br>

        <label for="power">For:</label>
        <select id="power" name="power">
            {% for power in powers %}
                <option value="{{ power }}" {% if selected_power == power %}selected{% endif %}>{{ power }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit" onclick="toggleLoadingBtn()">Go!</button>
    </form>
    <div class="loadingIcon"    >
        <img id="loadingIcon" src="{{  url_for('static', filename='icons/edloader.svg')}}" width="50" height="50">
    </div>
    </div>
    
</body>
<div class="footer">
    <a href="{{url_for('index')}}">Home</a>
</div>
</html>
