<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - Task Not Longer Possible</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
    <script defer src="https://data.niceygy.net/script.js" ></script>
    <script>
      function toggleLoadingIcon() {
        var x = document.getElementById("loadingIcon");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      window.onload = function () {
        document.getElementById("loadingIcon").style.display = "none";
      };
    </script>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Task Suspended</h1>
      <br />
      <p>This task has been temporarily suspended!</p>
      <p>This task is currently not possible. It is unknown when it will be un-suspended. Sorry about that.</p>

      <h3><a href="/">Back to Home</a></h3>
      <div class="loadingIcon" style="text-align: center">
        <img id="loadingIcon" src="/static/icons/edloader.svg" width="50" height="50" />
      </div>
      <br />
      
    </div>
  </body>
</html>
