<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - Changelog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>Changelog</h1>
    <h2>Version 1.0.1 - Added notes!</h2>
    <p>Added system notes, which will now tell you if the system is permit-locked, a power's home system and if (it thinks, still gathering data on this one) there is a res site</p>
    <p>Also added functionality to the "description" box when selecting task "Transport Power Commodities", to tell you what one you need</p>
    <p>Updated 11:15 On 20/01/3311 (2025)</p>
    <br>

    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
