<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - Changelog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <script defer src="https://data.niceygy.net/script.js" data-website-id="5a305d97-fef0-4c86-9528-243ae53470ad"></script>
  </head>
<!--
    <h2>Version 1. - !</h2>
    <p></p>
    <p></p>
    <p><i>Updated on /3311 (2025)</i></p>
    <br> 
-->
  <body>
    <h1>Changelog</h1>

    <h2>Version 1.5.0 - Holoscreen Hackage!</h2>
    <p>Added a station finder, which will list the 10 nearest systems with stations</p>
    <p>Still adjusting what needs to be ingored!</p>
    <p><i>Updated 15:15 on 10/02/3311 (2025)</i></p>
    <br> 
    
    <h2>Version 1.4.1 - Malware Malarkey!</h2>
    <p>A few minor changes for the powerplay malware page (it will tell you what type you want)</p>
    <p>Megaships & rare goods will now also show 15 entries instead of 10</p>
    <p><i>Updated 13:40 on 05/02/3311 (2025)</i></p>
    <br>
    
    <h2>Version 1.4.0 - Rare goods!</h2>
    <p>Added a rare good finder! It will find the best selling rare good based on your location</p>
    <p>(Aka the one closest to 200LY away). Also many behind the scenes changes</p>
    <p><i>Updated 09:44 on 03/02/3311 (2025)</i></p>
    <br>

    <h2>Version 1.3.2 - Minor Changes!</h2>
    <p>Because of how heavy megaship searches can be on my database, I've added caching.</p>
    <p>This will only affect if you perform the same query twice though! </p>
    <p><i>Updated 09:19 on 31/01/3311 (2025)</i></p>

    <h2>Version 1.3.1 - Megaship Madness!</h2>
    <p>Updated the megaship search to filter for undermining or Reinforcing systems. </p>
    <p>(Plus a bit of text to explain)</p>
    <p><i>Updated 09:00 on 29/01/3311 (2025)</i></p>
    <br>    

    <h2>Version 1.3.0 - Megaship Search!</h2>
    <p>Overhauled the megaship results page, to show the 10 nearest megaships to you!</p>
    <p>System name can be copied by clicking on it.</p>
    <p><i>Updated 12:20 On 27/01/3311 (2025)</i></p>
    <br>

    <h2>Version 1.2.0 - Anarchy Warning!</h2>
    <p>Added a "this task is a crime!" warning. Users can choose to continue or find a nearby anarchy system instead</p>
    <p><i>Updated 09:40 On 24/01/3311 (2025)</i></p>
    <br>    

    <h2>Version 1.1.0 - Added notes!</h2>
    <p>Added system notes, which will now tell you if the system is permit-locked, a power's home system and if (it thinks, still gathering data on this one) there is a res site</p>
    <p>Also added functionality to the "description" box when selecting task "Transport Power Commodities", to tell you what one you need</p>
    <p><i>Updated 11:15 On 20/01/3311 (2025)</i></p>
    <br>

    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
