<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerPlay Assistant</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="https://data.niceygy.net/script.js"></script>
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <meta name='description'
        content='PowerPlay Assistant is a compainon website for Elite: Dangerous, to help commanders with their powerplay 2.0 tasks.'>
    <script defer>
        async function searchSystems() {
            const query = document.getElementById("system").value;
            const response = await fetch(`/search_systems?query=${query}`);
            const results = await response.json();
            const datalist = document.getElementById("system-results");
            datalist.innerHTML = '';
            results.forEach(system => {
                const option = document.createElement('option');
                option.value = system;
                datalist.appendChild(option);
            });
        }
        function toggleLoadingBtn() {
            var x = document.getElementById("loadingIcon");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        window.onload = function () {
            document.getElementById("loadingIcon").style.display = "none";
        }
    </script>
</head>

<body>
    <h1>PowerPlay Assistant</h1>
    <span style="position: absolute; left: -9999px;">PPA should be screen reader friendly & tab navigable, but if you
        have any issues please contact me via go dot nice y g y dot net slash powerplayassist underscore thread"></span>
    <div class="main-flex">
        <div >
            <h2>Specify Task</h2>
            <form action="/" method="post">
                <label for="mission">Doing:</label>
                <select id="mission" name="mission">
                    {{range $mission := .missions}}
                    <option value="{{ $mission }}" {{if eq $.selected_mission $mission }}selected{{end}}>{{ $mission }}
                    </option>
                    {{ end }}
                </select><br><br>

                <label for="system">Near system:</label>
                <input list="system-results" id="system" name="system" oninput="searchSystems()" autocomplete="on"
                    value="{{ .default_system }}">
                <datalist id="system-results"></datalist><br><br>

                <label for="power">For:</label>
                <select id="power" name="power">
                    {{ range $power := .powers }}
                    <option value="{{ $power }}" {{ if eq $.selected_power $power }}selected{{end}}>{{ $power }}</option>
                    {{ end }}
                </select><br><br>

                <button type="submit" onclick="toggleLoadingBtn()">Go!</button>
            </form>
            <div class="loadingIcon">
                <img id="loadingIcon" src="/static/icons/edloader.svg" width="50" height="50">
            </div>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <div>
                <!-- <h2>Choose An Option</h2>
                <p><i>I would like to...</i></p>
                <button>Shoot Things</button>
                <button>Trade Things</button>
                -->

        </div>
        <div class="welcomeMessage" style="text-align: right;">
        </div>
    </div>

</body>
<div class="footer">
    <a href="/changelog">Changelog</a>
    <a href="/system_search">System Finder</a>
    <a href="https://k5elite.com">PowerPoints</a>
    <a href="/conflicts">Conflict Finder</a>
    <br />
    <a href="https://niceygy.net">Niceygy.Net</a>
    <a href="https://forums.frontier.co.uk/threads/powerplay-2-0-activities.629227/">PowerPlay Thread</a>
    <a href="https://go.niceygy.net/support_me">Support Me</a>
    <a href="/about">about</a>
    <br>
    <div class="glowing-emoji">{{ .status_text }}</div>
</div>

</html>