<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerPlay Assistant - PowerPoints</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='powers.css') }}">
    <script defer src="https://data.niceygy.net/script.js" data-website-id="5a305d97-fef0-4c86-9528-243ae53470ad"></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- <h1>PowerPlay Assistant</h1> -->
    <h2>PowerPoints!</h2>
    <h4>How is your power doing?</h4>
    {% for power in powerdata %}
    <!-- [powerShortCode, PowerFullName, message, place] -->
    <div class="{{power[0]}}">
        <h3>[{{power[3]}}]: {{ power[1] }}:</h3>
        <img src="static/icons/powers/{{power[0]}}.svg" style="align-content: right; align-self: right; width: 50px; height: 50px;"/>
        <p>{{ power[2] }}</p>

    </div>
    {% endfor %}
    <br>

</body>
<div class="footer">
    <a href="{{ url_for('index') }}">Home</a>
</div>
</html>
