<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - Results</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
    <script defer src="https://data.niceygy.net/script.js" ></script>
  </head>
  <script>
    function copyText(text) {
      if (navigator.clipboard && navigator.clipboard.writeText) {
        navigator.clipboard
          .writeText(text)
          .then(function () {
            alert("Copied " + text);
          })
          .catch(function (err) {
            console.error("Could not copy text: ", err);
          });
      } else {
        // Fallback method
        let textarea = document.createElement("textarea");
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        try {
          document.execCommand("copy");
          alert("Copied " + text);
        } catch (err) {
          console.error("Fallback: Oops, unable to copy", err);
        }
        document.body.removeChild(textarea);
      }
    }
  </script>
  <body>
    <h1>Selected Options</h1>
    <p><strong>System:</strong> {{ .system }}</p>
    <p><strong>For:</strong> {{ .power }}</p>

    <h1>About System:</h1>
    <p><strong>Current Controlling Power: </strong> {{ .currentPower }}</p>
    <p><strong>Current State: </strong> {{ .currentState }}</p>
    <p><strong>Is Anarchy: </strong> {{ .isAnarchy }}</p>

    <h1>Selected Task:</h1>
    <p><strong>Task: </strong> {{ .taskName }}</p>
    <p><strong>Task Type: </strong> {{ .taskType }}</p>
    <p class="task-description"><strong>Task Description: </strong> {{ .taskDescription }}</p>
    <p><strong>This {{ .isIllegal }} Illegal </strong></p>
    <p><strong>This {{ .isOpposingWeakness }} the opposing power's weakness</strong></p>
    <p><strong>This {{ .isOwnStrength }} your power's strength</strong></p>
    

    <h1>Location:</h1>
    <p onclick="copyText('{{ .item_system }}')">You (probably) can find '{{ .item_name }}'' in {{ .item_system }}, which is {{ .item_dist }} LY from you.</p>
    <p>Then deliver it to a station in the target (i.e the one you entered) system.</p>
    <p><i>Click to copy system name</i></p>
    <br />

    <a href="/">Back to Home</a>
  </body>
</html>
