<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon" />
    <script defer src="https://data.niceygy.net/script.js" data-website-id="5a305d97-fef0-4c86-9528-243ae53470ad"></script>
  </head>
  <script>
    function copyText(text) {
      if (navigator.clipboard && navigator.clipboard.writeText) {
        navigator.clipboard
          .writeText(text)
          .then(function () {
            alert("Copied " + text);
          })
          .catch(function (err) {
            console.error("Could not copy text: ", err);
          });
      } else {
        // Fallback method
        let textarea = document.createElement("textarea");
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        try {
          document.execCommand("copy");
          alert("Copied " + text);
        } catch (err) {
          console.error("Fallback: Oops, unable to copy", err);
        }
        document.body.removeChild(textarea);
      }
    }
  </script>
  <body>
    <h1>Selected Options</h1>
    <p><strong>System:</strong> {{ system }}</p>
    <p><strong>For:</strong> {{ power }}</p>

    <h1>About System:</h1>
    <p><strong>Current Controlling Power: </strong> {{ currentPower }}</p>
    <p><strong>Current State: </strong> {{ currentState }}</p>
    <p><strong>Is Anarchy: </strong> {{ isAnarchy }}</p>

    <h1>Selected Task:</h1>
    <p><strong>Task: </strong> {{ taskName }}</p>
    <p><strong>Task Type: </strong> {{ taskType }}</p>
    <p class="task-description"><strong>Task Description: </strong> {{ taskDescription }}</p>
    <p><strong>This {{ isIllegal }} Illegal </strong></p>
    <p><strong>This {{ isOpposingWeakness }} the opposing power's weakness</strong></p>
    <p><strong>This {{ isOwnStrength }} your power's strength</strong></p>

    <h1>Location:</h1>
    <p onclick="copyText('{{ item_system }}')">You (probably) can find {{ item_name }} in {{ item_system }}, which is {{ item_ly }} LY from you.</p>
    <br />
    <p><i>Click to copy system name</i></p>
    <br />

    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
