<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PowerPlay Assistant - What Can You Do?</title>
    <link
      rel="stylesheet"
      href="/static/css/main.css"
    />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <script defer src="https://data.niceygy.net/script.js" ></script>
    <script>
      function redirect(url) {
        window.location.href = url
      }
    </script>
  </head>
  <body>
    <h1>Selected Options</h1>
    <p><strong>System:</strong> {{ .system }}</p>
    <p><strong>For:</strong> {{ .power }}</p>

    <h1>About System:</h1>
    <p><strong>Current Controlling Power: </strong> {{ .currentPower }}</p>
    <p><strong>Current State: </strong> {{ .currentState }}</p>
    <p><strong>Is Anarchy: </strong> {{ .isAnarchy }}</p>
    <p><strong>Notes: </strong> {{ .systemNotes }} </p>

    <h1>Possible Tasks:</h1>
    <!-- todo -->
    <br />


    <a href="/">Back to Home</a>
  </body>
</html>
